.buttons {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 80px;
    margin-bottom: 20px
} 

select {
    font-size: 20px;
}
.button {
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
    background-color: dimgrey;
}

.selected {
    background-color: #8329c4;
    color: white;
}